[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvloop = "*"
sanic = "*"
pydantic = "*"
sanic-ext = "*"
mysqlclient = "*"
dbutils = "*"
python-dotenv = "==0.19.2"

[dev-packages]

[requires]
python_version = "3.8"
